main, h1{ 
  padding: 1em;
  

}

html{
  background-color: lightgray;
}


img{
  height: 10rem;
  width: auto;
  border-radius: 30px;
  box-shadow: 30px -5px;
}

main p{
  background-color: rgb(220, 220, 220);
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}

h1{
  color:  orangered;
}
p{
  color:  orangered 


}


ul {
  list-style-type: none;
}